.App{
 
}
.cardContainer{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}
.card{
  display: flex;
  border-color: #ff7f4f;
  border-style: solid;
  max-width: 15rem; 
  min-width: 15rem;
  min-height: 25rem;
  flex-direction: column;
  
}
h2{
  padding-left: 5%;
}
li{
  margin-bottom: 10%;
  list-style: none;
}
ul{
  display: flex;
  flex-direction: column;
 font-weight: 800;
  padding-left: 5%;
}

.tag{
  color:#4b0082;
}